<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\SimpleToDo.Api\packages.config" />
  <repository path="..\src\SimpleToDo.Core\packages.config" />
  <repository path="..\src\SimpleToDo.Data\packages.config" />
  <repository path="..\src\SimpleTodo.Tests\packages.config" />
  <repository path="..\src\SimpleToDo.WebApi.Models\packages.config" />
</repositories>